**1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.**

**Ans.**   * = expression

   'hello' = value

   -87.8  = value

    - = expression

   / = expression

    + = expression

   6 = value

**2. What is the difference between string and variable?**

**Ans.** Strings are data which can be used to assign to variables.
Varibales are a container to store data values

**3. Describe three different data types.**

**Ans.** Integer = it is a type of data type which is used to store numeric values.

Boolean = It is a type of data type which is used to declare True or False.

Float = It is a type of data type which is used for positive or negative one or more Decimal values.

**4. What is an expression made up of? What do all expressions do?**

**Ans.** Expressions are the combination of operators and operands. for e.g

'+'= used for addition

'-'= used for subtraction

'*'= used for multiplication.

**5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?**

**Ans.** Statements represent an action or command e.g print statements. Expression is a combination of variables, operations and values that yields a result value

**6. After running the following code, what does the variable bacon contain?**

bacon = 22

bacon + 1

In [10]:
bacon = 22
bacon + 1

23

**7. What should the values of the following two terms be?**

'spam' + 'spamspam'

'spam'*3

In [12]:
'spam' + 'spamspam'

'spamspamspam'

In [13]:
'spam'*3

'spamspamspam'

**8. Why is eggs a valid variable name while 100 is invalid?**

**Ans.** Eggs is a valid variable while 100 is not because a variable name should start with a letter or underscore it cannot start with a number.

**9. What three functions can be used to get the integer, floating-point number, or string
version of a value?**

In [15]:
"int(), float(), str()"

'int(), float(), str()'

**10. Why does this expression cause an error? How can you fix it?**

'I have eaten '+ 99 +'  burritos'

**Ans.** the error is we cannot concatenate str with an integer value. for this we have to do typecasting.